[mysqld]

server-id		= 1

port			= 3306
socket			= /var/run/mysqld/mysql.sock
datadir			= /var/lib/mysql
pid-file		= /var/run/mysqld/mysqld.pid
user			= mysql

log_error		= /var/log/mysql/error.log
slow_query_log_file = /var/log/mysql/mariadb-slow.log
long_query_time = 10
log_slow_rate_limit = 1000
log_slow_verbosity = query_plan

bind-address = 120.0.0.1
skip-networking
skip-name-resolve
